* {
  box-sizing: border-box;
}

body {
  background-color: rgb(70, 87, 180);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;

}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background: white;

}

.fill {background-image: url('img/background-watercolor-texture_122380-11.jpg');
  height: 143px;
  width: 143px;
  cursor: pointer;


}

.hold {
  border: solid 5px #ccc; 
}

.hovered {
  border-style: dashed;
  background-color: #333;
  border-color: white;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}